@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  :root {
    /* Colors from new UI Kit */
    --background: 0 0% 100%; /* #FFFFFF */
    --foreground: 0 0% 0%; /* #000000 - Black */
 
    --primary: 228 100% 50%; /* #0033FF */
    --primary-foreground: 0 0% 100%; /* White */
 
    --secondary: 236 46% 36%; /* #333984 */
    --secondary-foreground: 0 0% 100%; /* White */

    --muted: 228 100% 95%; /* Lighter version of primary */
    --muted-foreground: 0 0% 40%; /* #666666 - Dark Grey */
 
    --accent: 228 100% 95%; /* Lighter version of primary */
    --accent-foreground: 0 0% 0%;
    
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 228 100% 90%;
    --input: 228 100% 90%;
    --ring: 228 100% 50%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 236 46% 15%; /* Darker version of secondary */
    --foreground: 0 0% 98%; /* Almost white */
 
    --primary: 228 100% 50%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 228 100% 50%;
    --secondary-foreground: 0 0% 100%;
 
    --muted: 236 46% 20%;
    --muted-foreground: 0 0% 80%; /* Light Grey */
 
    --accent: 228 100% 50%;
    --accent-foreground: 0 0% 100%;
 
    --card: 236 46% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 236 46% 15%;
    --popover-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 228 100% 50%;
    --input: 228 100% 50%;
    --ring: 228 100% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}

@layer utilities {
  .filter-to-primary {
    filter: invert(18%) sepia(99%) saturate(7497%) hue-rotate(227deg) brightness(102%) contrast(106%);
  }
  .logo-mask {
    -webkit-mask-image: url(/logo.svg);
    mask-image: url(/logo.svg);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 120s linear infinite;
}