@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Colors from Style Guide */
    --background: 0 0% 96.1%; /* #F5F5F5 */
    --foreground: 237 29% 16%; /* #1E1F35 */
 
    --primary: 234 70% 64%; /* #5B6AEA */
    --primary-foreground: 0 0% 100%; /* White */
 
    --muted: 234 80% 94%; /* #E1E5FD */
    --muted-foreground: 237 29% 16%;
 
    --accent: 234 80% 94%; /* #E1E5FD */
    --accent-foreground: 237 29% 16%;
    
    /* Default Shadcn/UI variables adjusted */
    --card: 0 0% 100%;
    --card-foreground: 237 29% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 237 29% 16%;
    --secondary: 234 80% 94%;
    --secondary-foreground: 237 29% 16%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 234 80% 94%;
    --input: 234 80% 94%;
    --ring: 234 70% 64%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    /* Using dark color as background and primary color as accent */
    --background: 237 29% 16%; /* #1E1F35 */
    --foreground: 0 0% 100%; /* White */
 
    --primary: 234 70% 64%; /* #5B6AEA */
    --primary-foreground: 0 0% 100%;
 
    --muted: 234 80% 94%;
    --muted-foreground: 234 70% 64%;
 
    --accent: 234 70% 64%;
    --accent-foreground: 0 0% 100%;
 
    --card: 237 29% 16%;
    --card-foreground: 0 0% 100%;
    --popover: 237 29% 16%;
    --popover-foreground: 0 0% 100%;
    --secondary: 234 70% 64%;
    --secondary-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 234 70% 64%;
    --input: 234 70% 64%;
    --ring: 234 80% 94%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}

/* Custom Marquee CSS */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 60s linear infinite;
}