@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  :root {
    /* Colors from new UI Kit */
    --background: 228 100% 98%; /* #F4F6FF */
    --foreground: 0 0% 0%; /* #000000 - Black */
 
    --primary: 231 100% 58%; /* #2949FF */
    --primary-foreground: 0 0% 100%; /* White */
 
    --secondary: 236 46% 36%; /* #333984 */
    --secondary-foreground: 0 0% 100%; /* White */

    --muted: 231 100% 95%; /* Lighter version of primary */
    --muted-foreground: 0 0% 40%; /* #666666 - Dark Grey */
 
    --accent: 231 100% 95%; /* Lighter version of primary */
    --accent-foreground: 0 0% 0%;
    
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 231 100% 90%;
    --input: 231 100% 90%;
    --ring: 231 100% 58%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 236 46% 15%; /* Darker version of secondary */
    --foreground: 0 0% 98%; /* Almost white */
 
    --primary: 231 100% 58%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 231 100% 58%;
    --secondary-foreground: 0 0% 100%;
 
    --muted: 236 46% 20%;
    --muted-foreground: 0 0% 80%; /* Light Grey */
 
    --accent: 231 100% 58%;
    --accent-foreground: 0 0% 100%;
 
    --card: 236 46% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 236 46% 15%;
    --popover-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 231 100% 58%;
    --input: 231 100% 58%;
    --ring: 228 100% 98%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
}

/* Custom Marquee CSS */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 60s linear infinite;
}